body {
  margin: 0;
  background-color: beige;
}

#header {
  border: solid 1px #000;
  height: 60px;
  width: 100%;
  background-color: #000;
  color: #ef6c00;
  text-align: right;
  position: fixed;
  top: 0px;
  left: 0px;
}
#logo {
  z-index: 1000;
  color: yellow;
  font-weight: bold;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: blue;
  border-radius: 85px;
  position: fixed;
  top: 25px;
  left: 7px;
  text-align: center;
}
#logo > p {
  padding: 0px;
}
#content {
  height: 1000px;
  padding-top: 75px;
}
#help-box {
  width: 30px;
  height: 35px;
  position: fixed;
  background-color: black;
  color:#039BE5;
  border: 1px solid #000;
  float: right;
  bottom: 10px;
  right: 10px;
  
}

.pagination {
  width: 1550px;
  position: fixed;
  top: 15px;
}

.first-row {
  width: 15%;
  height: 200px;
  background-color: orange;
  left: 20px;
  margin: 10px;
  display: inline-block;
}

.second-row {
  width: 150px;
  height: 100px;
  background-color: red;
  float: left;
  margin: 10px;
  
}

.third-row {
  width: 100px;
  height: 200px;
  background-color: blue;
  margin: 10px;
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 10px;
}

#footer {
  height: 175px;
  border-top: dashed 1px #000;
}